<!DOCTYPE html>
  <html>
    <body>
      <div class='containter-fluid'>
        <div class="row gx-5">
          <div class="col">
          <div class="p-5 border bg-light">
                  
                  <h1><p class="text-primary">Makers BnB</p></h1>
                  
                  <h2>Join us</h2>

                  <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Click to Register
            </button>

              <h2 style="color:red;">
                <%= flash[:email] %>
              </h2>
                    
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Join Makers BnB</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    
                    <form action= "/register" method= "post">
                      <div class="mb-3">
                        <label for="username" class="form-label">What shall we call you?</label>
                        <input type="text" class="form-control" name="username">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                      </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
              <br><img src="https://d1e00ek4ebabms.cloudfront.net/production/eeac01be-f75e-46f9-8a29-8d1b8efcabdc.jpg" class="img-fluid" alt="...">
          </div>  
        </div> 
      </div>

  </body>
</html>
