<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
      <h1>
        Makers BnB
      </h1>
      <h2>
        Welcome <%= @username %>
      </h2>
      <a href='/listings/create'>Post a new Listing!</a>
      <br><br>
      <%@all_listings.each do |listing|%>
        <%=listing.title%>
      <%end%>
      <ul>
        <a href='/listings/1/view'>Test Listing!</a>
      </ul>
    </body>
  </html>
  