
<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
  <div class="container mt-5">

  <div class="row flex-grow-1">
    <div class="col my-2 pd-4 mx-auto text-align-center">
      <%if @username%>
            <h1 class="fw-dark"><%= @username %>, discover our top rated places to rent around the world </h1>
           <%else%>
            <h1 class="fw-dark">Welcome to Bnb, where you can discover our top rated places to rent around the world </h1>
           <%end%>
    </div>
  </div>

    <div class="row">

      <% @all_listings.each do |listing| %>
          <div class="col-3 col-sm-6 my-2 mx-auto text-align-center">
            <div class="card" style="width: 18rem;">
              <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text"><%= listing.description %> </p>
                <a href="<%=listing.id%>/view" class="btn btn-dark">More..</a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</body>