<!DOCTYPE html>
  <html>
    <body>
<div class="container">
      <h2>
        <p class="fs-1">Welcome <%= @username %></p>
      </h2>
      <p>
        <a href='/listings/create'>Post a new Listing!</a>
      </p>
      <br><br>
      <p class="fs-3">Or have a look at all the places you could be</p>
      <ul>
        <%@all_listings.each do |listing|%>
          <a href='listings/<%=listing.id%>/view'><%=listing.title%></a>
          <br><br>
        <%end%>
      </ul>
</div>
    </body>
  </html>
  