<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>

    <div class="banner">
      <div class="banner_left">
        <a href='/'>Register</a> | 
        <a href='/login'>Login</a>
      </div>
      <div class="banner_right">  
        <a href='/listings'>View all Listings</a> | 
        <a href='/requests'>View all requests</a>
      </div>
    </div>

      <h1>
        Makers BnB
      </h1>
      <h2>
        Create a new space:
      </h2>
      
      <form action= "/listings/create" method= "post">
        <label for="name">
          Name of your listing:
        </label>
        <input type="text" name="title" id="name"/>
        <br><br>
        <label for="description">
          Brief description of your space:
        </label>
        <input style="height:200px;font-size:14pt;" type="text" name="description" id="description"/>
        <br><br>
        <label for="price">
          Price per night:
        </label>
        <input type="number" min="1" step="any" name="price" id="price"/>
        <br><br>
        <label for="datefrom">
          Date Available From:
        </label>
        <input type="date" name="avail_from" id="datefrom"/>
        <br><br>
        <label for="dateto">
        Date Available To:
        </label>
        <input type="date" name="avail_to" id="dateto"/>
      <br><br>
        <input type="submit" value="Submit"/>
      </form>



    </body>
  </html>
  