<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
    <h1>
      <%= @current_listing.title %>
    </h2>

    <h2>
      <%= @current_listing.price_per_night %> per night
    </h2>

    <p>
      <%= @current_listing.description %>
    </p>

    <ul>
      # SOME TABLE OF AVAILABLE DATES GOES HERE
    </ul>
    

    </body>
  </html>
  