<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
      <h1>
        Makers BnB
      </h1>
      <h2>
        Welcome,
      </h2>
      
      
    </body>
  </html>
  