<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
      <h1>
        Makers BnB
      </h1>
      <h2>
        Welcome, <%= @username %>
      </h2>
      <a href='/spaces/create'>Post a new Space!</a>
      <br><br>
      <ul>
        <a href='/spaces/1/view'>Test Space!</a>
      </ul>
    </body>
  </html>
  