<!DOCTYPE html>
  <html>
    <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>

    <div class="banner">
      <div class="banner_left">
        <a href='/register'>Register</a> | 
        <a href='/login'>Login</a>
      </div>
      <div class="banner_right">  
        <a href='/'>View all Listings</a> | 
        <a href='/requests'>View all requests</a>
      </div>
    </div>

    </body>
  </html>
  